
html {
    margin: 0 8px;
}

body {
    margin: 0;
}

html.done {
    border: 2px solid #32cd32;
    margin: 3px;
    padding: 3px;
}

html:not(.done) {
    height: 100%;
}

html:not(.done) body {
    height: 100%;
}

html:not(.done) #wrapper {
    height: 100%;
    margin-top: -1.5em;
    padding-top: 1.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: block;
    border: thin solid black;
    padding: 0.5em 0;
}

section h1 {
    margin: 0;
    font-size: 1em;
}

html.done section h1 {
    text-align: center;
}

section ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

html.done section ol {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

section li {
    padding: 0.1em 0.5em;
}

section li.pass:nth-child(odd)  {
    background: #e5ffe5;
}
section li.pass:nth-child(even) {
    background: #def8de;
}

section li.fail:nth-child(odd)  {
    background: #ffe5e5;
}

section li.fail:nth-child(even) {
    background: #f8dede;
}

section p {
    margin: 0;
}

html:not(.done) section {
    border-top: none;
}

html.done section + section {
    border-top: none;
}

.btn{
    border-radius:0px;
}
#manualUI{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    display: block;
    padding: 0px 40px 0px 40px;
    background: #444;
}

#manualUI .pop_bgd{
    background: #444;
    color: #fff;
}

.panel-footer{
    border-top: 0px;
}

.refType{
    color: #1ebcba;
}

.selectpackages {
    position: fixed;
    top: 100%;
    right: 0;
    bottom: 10%;
    left: 0;
    display: block;
    padding: 40px;
    background: rgba(255, 200, 0, 0.5);
    overflow: auto;
    overflow-y: scroll;
    z-index: 1040;
    opacity: 1;
}

.selectpackages-in{
    position: relative;
    z-index: 1050;
}

#manualUI .panel {
    max-width: 800px;
    min-width: 250px;
    margin: auto;
    border:0px;
    border-radius:0px;
}

#manualUI .panel-footer {
    border-radius:0px;
}

.pass,.block,.fail,.prev,.fwd{
    margin: 2px;
}

.prev, .prev:active, .prev:hover, .prev:focus, .fwd, .fwd:active, .fwd:hover, .fwd:focus  {
    background-color: rgb(32, 136, 134); 
    color: #fff;
}

.test, .test:active, .test:hover, .test:focus, .ref, .ref:active, .ref:hover, .ref:focus  {
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgb(32, 136, 134); 
    color: #fff;
}

.man-tab{
    display: inline-block;
}

.panel-footer{
    text-align:right;
}

.selectpackages .panel{
    max-width: 550px;
    margin: auto;
    box-shadow: 2px 2px 10px #666;
}

body > p {
    text-align: center;
}

body > p > textarea {
    width: 90%;
    height: 20em;
}

body {
    padding-top: 70px;
}

.navbar{
    margin-bottom:0px;
}

iframe {
    width: 100%;
    height: 400px;
    frameborder: no;
    border: 0;
    marginwidth: 0;
    marginheight: 0;
}

#testFrame{
    display: none;
    border: 1px solid #ddd;
    border-radius: 3px;
}

h4.category{
    margin-top:2px;
    margin-bottom: 2px;
    background-color: #ccc;
}

.container_help{
    margin-left: -8px; margin-right: -8px;
    display: block;
    padding: 0px 40px 0px 40px;
    color: #fff;
    background: #444;
}

.help-in{
    position: relative;
    z-index: 1050;
}

.help .panel{
    max-width: 550px;
    margin: auto;
    box-shadow: 2px 2px 10px #666;
}

.help_div{
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
    padding: 20px 0px 20px 0px;
}

.help_div a{
    color: #1ebcba;
}

.container {
    max-width: 800px;
    min-width: 350px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.form-group {
    clear:both;
}

.horizontal-form .form-group {
    padding-bottom: 15px;
}

header.navbar-inverse {
    background: #333;
}

ul.error, ul.warning {
    padding:    0;
}

td.PASS {
    color:  #48cfad;
}

td.FAIL {
    color:  #ed5565;
}

td.BLOCK {
    color:  #f6bb42;
}

.col-sm-3 {
    float: left;
}

.navbar-header{
    display:inline-table;
    width:100%
}

#show_info{
    background: rgb(32, 136, 134);
    border: none;
}

div.sepc-input[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

input#input_tests{
    position: static;
}

.hide-span{
    width:0px;padding:0px
}

.contrl-btn{
    height:50px;
    text-align:right;
}

.contrl-btn ul{
    padding: 0px;
    text-align:right;
}

.button_hidden{
    display: none;
}

.suitslist{
    height:180px;
    overflow:auto;
    overflow-y: auto;
    overflow-x: auto;
    height: 173px;
}

.ok-root{
    padding-right:20px;
}

.info-a{
    margin-right:-15px;
}

.progress-bar{
    width: 0;
    -webkit-transition: width 0 ease;
    transition: width 0s ease;
}

.navbar-brand{
    padding: 15px 0px
}

.spec_list{
    font-weight: normal;
    cursor: pointer;
}

.spec_list_check{
    color: #1ebcba;
}

#test_url{
    margin-top: -15px;
    font-size: 12px;
}

@media (max-width: 768px) {
    div.sepc-input[class*="col-"]{
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .container{
        padding-left:0px;
        padding-right:0px;
        margin-left:0px;
        margin-right:0px;
    }
    
    html {
        margin: 0px 0px;
    }
    
    header .container{
        margin:0px 0px 0px 15px;
    }
    
    .navbar-header{
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #manualUI{
        padding: 0px;
    }
    
    .container_help{
        padding:0px 10px 0px 10px;
    }
    
    .my_tab-content>.my_tab-pane{
        display:none;
        margin:0px 3px 20px 3px;
        padding-top: 20px;
    }
}

@media (max-width: 368px) {
    #manualUI{
        padding-left: 0px;
        padding-right: 0px;
    }
    .panel-footer{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 680px) {
    .test_type_check {
        list-style: none;
        background-color: #1ebcba;
        padding: 7px;
        color: #fff;
        cursor: pointer;
    }
    
    .test_type_middle{
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    .test_type_uncheck{
        list-style: none;
        background-color:#aaa;
        padding:7px;
        color:#fff;
        cursor: pointer;
    }
    
    .test_type_ul{
        padding: 0px;
        margin: 0px;
        height: 111px;
    }
}

@media (max-width: 680px) {
    .advanced_div{
        height:126px;
        display:none;
		margin-top:3px;
    }
    
    .advanced_div ul{
        padding: 0px;
        margin: 0px;
    }
    
    .timeout_multiplier_input{
        list-style: none;
        background-color:#1ebcba;
        padding:0px 0px 0px 7px;
        color:#fff;
        cursor: pointer;
    }
    
    .timeout_multiplier{
        display: inline;
        width: 40%;
    }
    .advanced_ckb_checked{
        list-style: none;
        background-color:#1ebcba;
        padding:7px;
        color:#fff;
        cursor: pointer;
    }
    
    .advanced_ckb_middle{
        margin-top:3px;
        margin-bottom:3px;
    }
    
    .advanced_ckb_unchecked{
        list-style: none;
        background-color:#aaa;
        padding:7px;
        color:#fff;
        cursor: pointer;
    }
}

.my_nav:before, .my_nav:after{
    content: " ";
    display: table;
}

.my_nav:after{
    clear: both;
}

.my_nav{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.my_nav-tabs{
    border-bottom: 1px solid #ddd;
}

.my_nav-tabs>li{
    float: left;
    margin-bottom: -1px;
}

.my_nav>li{
    position: relative;
    display: block;
}

.my_nav>li>span{
    position:relative;
    display:block;
    padding:5px 15px;
    color: #1ebcba;
}

.my_nav>li>span:hover,.my_nav>li>span:focus{
    text-decoration:none;
    background-color:#eee;
}

.my_nav>li>span>img{
    max-width:none;
}

.my_nav-tabs{
    border-bottom:1px solid #ddd;
}

.my_nav-tabs>li{
    float:left;
    margin-bottom:-1px;
}

.my_nav-tabs>li>span{
    margin-right:2px;
    line-height:1.42857143;
    border:1px solid transparent;
}

.my_nav-tabs>li>span:hover{
    border-color:#eee #eee #ddd;
}

.my_nav-tabs>li.my_active>span,.my_nav-tabs>li.my_active>span:hover,.my_nav-tabs>li.my_active>span:focus{
    color:#555;
    background-color:#fff;
    border:1px solid #ddd;
    border-bottom-color:transparent;
    cursor:default;
}

.tab_li{
    width:50%;
    text-align:center;
    font-size: 18px;
}

.input_test_specs{
    height:240px;
}

.input_test_specs input{
    border-radius: 0px;
}

.my_tab-content{
    margin-bottom: 10px;
    border: 1px #ccc solid;
    border-top: none;
}

@media (min-width: 768px) {
    .my_tab-content>.my_tab-pane{
        display:none;
        margin:0px 20px 20px 20px;
        padding-top: 20px;
    }
}

.my_tab-content>.my_active{
    display:block;
}

.help {
    position: fixed;
    top: 100%;
    right: 0;
    bottom: 10%;
    left: 0;
    display: block;
    padding: 40px;
    background: rgba(255, 200, 0, 0.5);
    overflow: auto;
    overflow-y: scroll;
    z-index: 1040;
    opacity: 1;
}

@media (min-width: 680px) {
    .test_type_check{
        list-style: none;
        float:left;
        width: 33%;
        background-color:#1ebcba;
        padding:7px;
        color:#fff;
        cursor: pointer;
    }
    
    .test_type_middle{
        margin-left:0.5%;
        margin-right:0.5%;
    }
    
    .test_type_uncheck{
        list-style: none;
        float:left;
        width: 33%;
        background-color:#aaa;
        padding:7px;
        color:#fff;
        cursor: pointer;
    }
    
    .test_type_ul{
        padding: 0px;
        margin: 0px;
        height: 34px;
    }
}

.input_test_pp{
    border:1px dotted #ccc;
    border-top: 0px;
    padding:10px 12px 10px 12px;
    overflow-y: auto;
    overflow-x: auto;
    height: 90px;
    color:#1ebcba;
}

.input_test_result{
    margin-top:10px;
    border:1px solid #ccc;
    padding:10px 12px 10px 12px;
    overflow-y: auto;
    overflow-x: auto;
    height: 90px;
    color:#1ebcba;
}

.input_value_span{
    cursor: pointer;
}

.advanced_link{
    cursor: pointer;
    text-align:right;
    margin: 10px 0px;
}

@media (min-width: 680px) {
    .advanced_div{
        height:34px;
        display:none;
		margin-top:3px;
    }
    
    .advanced_div ul{
        padding: 0px;
        margin: 0px;
    }
    
    .timeout_multiplier_input{
        list-style: none;
        float: left;
        width: 33%;
        background-color:#1ebcba;
        padding:0px 0px 0px 7px;
        color:#fff;
        cursor: pointer;
    }
    
    .timeout_multiplier{
        display: inline;
        width: 40%;
    }
    .advanced_ckb_checked{
        list-style: none;
        float: left;
        width: 33%;
        background-color:#1ebcba;
        padding:7px;
        color:#fff;
        cursor: pointer;
    }
    
    .advanced_ckb_middle{
        margin-left:0.5%;
        margin-right:0.5%;
    }
    
    .advanced_ckb_unchecked{
        list-style: none;
        float: left;
        width: 33%;
        background-color:#aaa;
        padding:7px;
        color:#fff;
        cursor: pointer;
    }
}

.icon_advanced{
    color:#1ebcba;
}

.toggleStart{
    list-style: none;
    float: right;
    width: 70px;
    background-color:#1ebcba;
    padding:7px;
    text-align:center;
    color:#fff;
    border-radius: 0px;
    cursor: pointer;
}

.togglePause{
    list-style: none;
    float: right;
    width: 70px;
    background-color:#1ebcba;
    padding:7px;
    text-align:center;
    color:#fff;
    border-radius: 0px;
    cursor: pointer;
    margin-left: 3px;
}

.download_json, .download_json:active, .download_json:hover{
    color: #fff;
    background-color: #1ebcba;
    margin-bottom: 3px;
}

.progress-bar{
    background-color: #1ebcba;
}

.progress{
    border-radius:0px;
}

.show_details{
    padding:6px 12px;
    text-align:center;
    background-color:#1ebcba;
    color: #fff;
    width: 175px;
    height: 34px;
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.download_div{
    float:right;
    padding-left:3px;
    margin-top: 10px;
}

.start_error{
    color:red;
}

@media (max-width: 342px) {
    .start_btn_div_manual{
        margin-top: 78px;
    }
}

@media (min-width: 342px) {
    .start_btn_div_manual{
        margin-top: 58px;
    }
}

@media (max-width: 640px) {
    .start_btn_div_reftest{
        margin-top: 128px;
    }
}

@media (min-width: 640px) {
    .start_btn_div_reftest{
        margin-top: 108px;
    }
}

.select_all_div{
	text-align: right;
}

.select_all_div input{
	display: none;
}

.select_all_div .select_all_label{
    background-color:#1ebcba;
    padding:7px 15px 7px 10px;
    text-align:center;
    color:#fff;
    border-radius: 0px;
    cursor: pointer;
}

.select_all_div .unselect_all_label{
    background-color:#aaa;
    padding:7px 15px 7px 10px;
    text-align:center;
    color:#fff;
    border-radius: 0px;
    cursor: pointer;
}

.results{
    margin-top:50px;
}

.float_left{
    padding-top: 2px;
}

.panel_padding{
    padding: 3px;
}

.hide_panel_border{
    border: 0;
    box-shadow: 0 0 0 0;
    border-radius: 0px;
}

.accordion{
    margin-bottom:20px;
}

.accordion-group{
    margin-bottom:1px;
    border:0px;
}

.accordion-heading{
    border-bottom:0;
    cursor:pointer;
    background-color: #1ebcba;
    color: #fff;
}

.accordion-heading .category_label{
    padding: 6px 15px 6px 15px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.accordion-heading input{
    display: none;
}

.accordion-heading .accordion-toggle{
    display:block;
    padding:8px 15px;
}

.accordion-toggle{
    cursor:pointer;
}
   
.accordion-inner{
    padding:0px;
}

.accordion-inner input{
    display: none;
}

li.specname{
    list-style-type: none;
    border-top: 1px #e5e5e5 solid;
    border-left: 1px #e5e5e5 solid;
    border-right: 1px #e5e5e5 solid;
    padding:4px 0px;
}

li.specname label{
    padding-left: 15px;
}

.categry_num{
    float: right;
    cursor: pointer;
    text-decoration: underline;
    background-color:#fff;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    color:#1ebcba;
    padding:3px 5px 3px 5px;
    margin-top: 4px;
    margin-right: 15px;
    width: 100px;
    text-align: center;
}

.accordion-group label{
    margin-bottom: 0px;
}

.specname a{
    color: #1ebcba;
}

.test-type{
    display: none;
}

.input_ul{
    padding:0px;
    margin:0px;
}

.input_li{
    width:90%;
    float:left;
    list-style:none;
}

.add_li{
    width:10%;
    float:left;
    list-style:none;
    background-color: #1ebcba;
    text-align: center;
    padding: 7px 0px 7px 0px;
    color: #fff;
    cursor: pointer;
}

.input_test_result li{
    list-style: none;
    background-color: #1ebcba;
    float: left;
    color: #fff;
    margin: 0px 2px 2px 0px;
    padding:2px 5px 2px 5px;
}

.input_test_result li>span{
    cursor: pointer;
}